{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" type="text/css" href="{% static 'IAteHomeStyles.css' %}">
<head>
    <meta charset="utf-8"/>
    <title>IAte</title>
</head>
<header>
    <h1 id="Iateh1">IAte</h1>
    {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class=loginxD>Salir</button>
                </form>                
                <h6 class=nombreuser>Hola, {{ user.username }}</h6>
            {% else %}
                <a class=loginxd href="{% url 'login_url' %}">login</a>
                <a class=registerxd href="{% url 'register_url' %}">register</a>
            {% endif %}
    {% if user.is_authenticated %}
        <a class=surveyxd href="{% url 'show_survey' 1 %}">Encuesta</a>
    {% endif %}
    <img id="logousm" src="https://upload.wikimedia.org/wikipedia/commons/4/47/Logo_UTFSM.png" alt="Logo USM">
</header>
<body>
    <nav>
        <ul>
            <a class="buttonxd" href="{% url 'estadocasino' %}">Estado Casino</a>
            <a class="buttonxd" href="{% url 'estadofila' %}">Calculo Fila</a>
            <a class="buttonxd3" href="{% url 'Horariopref' %}">Bloque Más Lleno</a>
        </ul>
    </nav>
</body>
</html>
{% endblock %}